body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1200px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #555;
}

.btn-preencher {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-preencher:hover {
  background-color: #555;
}

.select-container {
  position: relative;
  display: inline-block;
}

#genero {
  padding: 5px;
  font-size: 14px;
  color: #999; /* Cor do placeholder */
}

#genero option {
  color: #000; /* Cor das opções */
}

#genero option[disabled][selected] {
  display: none; /* Oculta o placeholder no menu suspenso */
}

#estado_civil {
  padding: 5px;
  font-size: 14px;
  color: #999; /* Cor do placeholder */
}

#estado_civil option {
  color: #000; /* Cor das opções */
}

#estado_civil option[disabled][selected] {
  display: none; /* Oculta o placeholder no menu suspenso */
}
